# работает одинаково из любой директории, добавляет всю рабочую область
git add :/

# путь относительно корневой директории
git add :/path/to/files/

# работает только в текущей директории
cd test
git add .
# эквивалентно этому:
git add :/test

# путь относительно текущей директории
cd test
git add ./path
# эквивалентно этому:
git add :/test/path